@import "@fortawesome/fontawesome-free/css/all.css";

a {
    text-decoration: none;
    color: blue
}

.btn-search-container{
    display:flex;
    justify-content:space-between;
    margin-bottom: .5rem;
}

.th{
    display: flex;
    gap:.5rem;
    justify-content:space-between;
}

.icons{
    display: flex;
    flex-direction: column;
}

.disabled{
    opacity: .2;
}

.btn.delete{
    color:blue
}

i{
    transform: scale(.8);
}

.th-cont{
    padding: .2rem 1rem;
    cursor: pointer;
}

input{
    border-radius: .5rem;
    border:1px solid white;
    outline:none
}